---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
import Button from "./Button.astro";

const { url = "/", cardimage = "", cardimagealt = "", cardtitle = "", cardsubtitle = "", cardtext_1 = "", cardtext_2 = "", variant = "button" } = Astro.props;
---

<div class="relative inline-block mt-grid-gap-desktop mr-grid-gap-desktop">
  <!-- BACKGROUND IMAGE -->
  <div class="absolute -top-card-image-offset left-card-image-offset w-full h-full z-0 intersect:animate-fade-left intersect:duration-[8000ms]">
    <img src={cardimage} alt={cardimagealt} class="w-full h-full object-cover" />
  </div>

  <!-- CONTENT BOX -->
  <div class="relative bg-cards-primary text-text-secondary p-card z-10 lg:min-h-90 flex flex-col intersect:animate-fade-right intersect:duration-[8000ms]">
    <div>
      <div class="relative bg-cards-primary text-text-secondary z-10 max-w-2xl lg:min-h-90
                flex flex-col">
        <!-- Overskrift H3 - cardtitle -->
        <div class="lg:mb-h3-desktop mb-h3-mobile">
          <Heading htmlheading="h3" size="medium" font="heading" color="secondary" weight="medium">
            {cardtitle}
          </Heading>
        </div>

        <!-- Overskrift H4 - cardsubtitle -->
        <div>
          <Heading htmlheading="h4" size="small" font="heading" color="secondary" weight="medium">
            {cardsubtitle}
          </Heading>
        </div>

        <!-- Brødtekst - cardtext -->
        <div class="lg:mt-p-desktop mt-p-mobile">
          <Text font="body" color="secondary">
            {cardtext_1}
          </Text>
        </div>

        <div class="lg:mt-p-desktop mt-p-mobile">
          <Text font="body" color="secondary">
            {cardtext_2}
          </Text>
        </div>

        <!-- Knap (valgfri) -->
        {
          variant === "button" && (
            <div class="mt-auto ml-auto pt-10">
              <a href={url}>
                <Button variant="primary" size="large" shadow="noeffect">
                  Udforsk
                </Button>
              </a>
            </div>
          )
        }
      </div>
    </div>
  </div>
</div>

<!--  SLUT PÅ INFOCARD -->
